.deleteModal {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 2rem;
    font-size: 1.5rem;
}

.deleteModal .btn__container {
    gap: 1rem;
    margin-top: 1rem;
}

.deleteModal .btn__container button {
    background: #00000052;
    border: none;
    color: #FFFFFF;
    padding: 0.2rem 1rem 0.4rem 1rem;
    border-radius: 16px;
    cursor: pointer;
}