.app {
  padding: 1rem;
}

.wrapper {
  width: 100%;
  max-width: 1312px;
  margin-inline: auto;
  margin-block: 5rem;
}

h1 {
  font-weight: var(--font-medium);
  font-size: 36px;
}

h2{
  font-weight: var(--font-medium);
  font-size: 18px;
}

